<%= simple_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= f.input :body,
                  placeholder: "Tell us all about it!",
                  autofocus: true,
                  wrapper: false,
                  input_html: {class:"textArea"}, 
                  label_html: { class:"label"} %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Post story!"%>
    </div>
  </div>
<% end %>
