<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification.is-primary global-notification">
        <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div id="navbar" class="navbar-menu">
      <h1 class="website-title">TreeHouse Placeholder</h1>
      <div class="top-nav-right">
        <% if user_signed_in? %>
          <p class="navbar-menu-actions">
            <%= link_to current_user.email, edit_user_registration_path %>
          </p>
          <p class="navbar-menu-actions">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-info" %>
          </p>
        <% else %>
          <p class="navbar-menu-actions">
            <%= link_to "Log In", new_user_session_path %>
          </p>
          <p class="navbar-menu-actions">
            <%= link_to "Sign up!", new_user_registration_path %>
          </p>
        <% end %>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
